services:
  backend:
    build:
      context: ./backend
    container_name: backend
    ports:
      - "8000:8000"
    volumes:
      - ./backend:/app
    environment:
      - PYTHONUNBUFFERED=1
      - MONGODB_URI=mongodb://mongo:27017/salvar_db
      - MONGODB_DB=salvar_db
      - INTERMEDIARY_URL=http://host.docker.internal:9000
    depends_on:
      - mongo
    command: ["python", "-m", "app.main"]

  frontend:
    build:
      context: ./frontend
    container_name: frontend
    ports:
      - "5173:8080"
    volumes:
      - ./frontend:/app
      - /app/node_modules
    environment:
      - NODE_ENV=development
    command: ["npm", "run", "dev", "--", "--host"]

  mongo:
    image: mongo:6
    container_name: mongo
    ports:
      - "27017:27017"
    environment:
      - MONGO_INITDB_DATABASE=salvar_db
